<div class="container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>

</div>


<div class="container2">
    <div class="box">
        Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. Lorem Ipsum tem sido o texto fictício padrão da indústria desde 1500, quando um impressor desconhecido pegou um modelo de impressão e embaralhou-o para fazer um livro de amostra de tipos. Ele sobreviveu não apenas cinco séculos, mas também ao salto para a composição eletrônica, permanecendo essencialmente inalterado.
    </div>
</div>