<div class="container">
    <header>
        header 
    </header>

    <content class="content">
        <aside class="menu">
            Menu
        </aside>
        <div class="principal">
            <div>
                content
            </div>
            
        
            <div>
                conteudo dentro do conteudo 
            </div>
            <div>
                conteudo dentro do conteudo 2
            </div>
        </div>
        <aside class="sidebar">
            sidebar
        </aside>
        
    </content>

    
    <footer>
        footer
    </footer>

</div>